<launch>
  <arg name="v_max" default="0.2"/>
  <arg name="om_max" default="0.4"/>
  <arg name="kbd_flg" default='false'/>

  <node pkg="asl_turtlebot" type="navigator.py" name="navigator" output="screen">
    <param name="v_max" value="$(arg v_max)"/>
    <param name="om_max" value="$(arg om_max)"/>
  </node>

  <node pkg="asl_turtlebot" type="switch.py" name="switch" output="screen">
    <param name="kbd_flg" value="$(arg kbd_flg)"/>
  </node>
</launch>
